<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline" method="POST" action="/guardar">
        <input name="buscar" class="form-control mr-sm-2" type="text">
        <button name="btnSalir" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Cerrar</button>
    </form>
</nav>