{{> navegacion}}

<div class="mt-5">
    <h1>Hola Mundo!!!</h1>
    <p>{{nombre}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, autem nihil tempora fugit quisquam mollitia.
        Accusantium iste facere blanditiis hic officia dignissimos illo minima, nisi ratione officiis aut,
        necessitatibus natus.
        Numquam dignissimos amet id tempora officiis facilis ut, eligendi deserunt beatae omnis adipisci optio
        dolores? Aliquam voluptatum totam corporis voluptas vero maiores culpa, mollitia magni reiciendis! Totam
        autem repudiandae est?
        Voluptatum excepturi inventore atque cumque illum maxime aliquam temporibus commodi repellat ducimus harum,
        ut placeat reprehenderit veniam, praesentium sunt exercitationem, quibusdam quidem. Maxime sunt alias itaque
        error laboriosam nulla. Suscipit?
        Veniam nulla ex inventore aliquid velit possimus eveniet, ipsa architecto pariatur. Hic debitis mollitia ex?
        Ipsa, saepe architecto consequatur inventore praesentium numquam quaerat, beatae in expedita adipisci a
        dolores omnis?
    </p>
</div>